---
layout: page
title:
tagline:
---
{% include JB/setup %}


<h2>Recent Posts</h2>

<ul class="posts">
  {% for post in site.posts %}
    <li{% if forloop.index <= 5 %} class="current"{% endif %}>
        <span class="label label-{% case forloop.index %}{% when 1 %}danger{% when 2 %}primary{% when 3 %}info{% when 4 %}success{% when 5 %}warning{% else %}default{% endcase %}">
           {{ post.date | date_to_string }}
        </span>
        <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a>
    </li>
{% if forloop.index == 5 %}
</ul>
<hr>
<h2>Archive</h2>
<ul class="posts">
{% endif %}

  {% endfor %}
</ul>
