---
layout: post
title: "My new color theme (Zenburn based) for Emacs exu-theme.el"
description: ""
comments: true
category: editor
tags: [emacs, color, theme]
---
{% include JB/setup %}

<p>
{% include JB/setup %}
</p>

<div id="outline-container-1" class="outline-2">
<h2 id="sec-1">Why one more colortheme?</h2>
<div class="outline-text-2" id="text-1">


<p>
In my office i have very big windows and after 1PM brightness is killing my
ability to see letters in my previous emacs setup with Zenburn colortheme.
</p>
<p>
It's good to see shiny day but my low contrast <a href="https://github.com/bbatsov/zenburn-emacs">Zenburn Theme</a> is too bright and I
often don't see elements with lower contrast.
</p>
</div>

</div>

<div id="outline-container-2" class="outline-2">
<h2 id="sec-2">exu-theme.el</h2>
<div class="outline-text-2" id="text-2">



</div>

<div id="outline-container-2-1" class="outline-3">
<h3 id="sec-2-1">Installation</h3>
<div class="outline-text-3" id="text-2-1">


<p>
You can grab it from my <a href="https://github.com/exu/emacs.d/blob/master/themes/exu-theme.el">emacs github repository</a> (if You are using Emacs 24
simply put it into `~/.emacs.d/themes` directory and add lines below into
your `~/.emacs.d/init.el` file to load this theme
</p>



<pre class="example">(add-to-list 'custom-theme-load-path "~/.emacs.d/themes")
(load-theme 'exu t)
</pre>



</div>

</div>

<div id="outline-container-2-2" class="outline-3">
<h3 id="sec-2-2">Below are some screenshots of my new theme:</h3>
<div class="outline-text-3" id="text-2-2">


<p>
<img src="file:///assets/img/exu-emacs-theme-01.png"  alt="file:///assets/img/exu-emacs-theme-01.png" />
</p>
<p>
<img src="file:///assets/img/exu-emacs-theme-02.png"  alt="file:///assets/img/exu-emacs-theme-02.png" />
</p>
<p>
<img src="file:///assets/img/exu-emacs-theme-03.png"  alt="file:///assets/img/exu-emacs-theme-03.png" />
</p></div>
</div>
</div>
